body	{
	background-color: #a7ca52 !important;
	animation: colours 60s 3s infinite;
	-moz-animation: colours 60s 3s infinite; /* Firefox */
	-webkit-animation: colours 60s 3s infinite; /* Safari and Chrome */
	-o-animation: colours 60s 3s infinite; /* Opera */
	overflow: hidden;
	left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.icons	{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 780px;
	height: 64px;
	margin: -32px 0 0 -390px;
}

.icon	{
	display: inline-block;
	float: left;
	width: 64px;
	height: 64px;
	margin: 0 115px 0 0;
	background-size: 100%
}

.icon:last-child	{
	margin: 0;
}

.note	{
	background-image: url(../img/note.png);
}

.file	{
	background-image: url(../img/file.png);
}

.photo	{
	background-image: url(../img/photo.png);
}

.camera	{
	background-image: url(../img/camera.png);
}

.download	{
	background-image: url(../img/download.png);
}

.comingsoon {
  position: absolute;
	left: 50%;
	top: 50%;
  background-image: url(../img/soon.png);
  background-size: 100%;
  width: 209px;
  height: 30px;
  margin: 100px 0 0 -104px;
  opacity: .7
}

.footer	{
	background-image: url(../img/footer.png);
	background-size: 323px 51px;
	position: absolute;
	left: 50%;
	bottom: 40px;
	margin: 0 0 0 -161px;
	height: 51px;
	width: 323px;
}

.followme	{
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin: 0 0 0 -62px;
	display: none; 
}

.twitter	{
	position: absolute;
	bottom: 10px;
	left: 10px;
}